sample/cvi_tdl/sample_aud_cls_read
sample/cvi_tdl/sample_aud_cry
sample/cvi_tdl/sample_aud_esc
sample/cvi_tdl/sample_aud_order
sample/cvi_tdl/sample_aud_soundcmd
sample/cvi_tdl/sample_init
sample/cvi_tdl/sample_vi_dms
sample/cvi_tdl/sample_vi_face_recog
sample/cvi_tdl/sample_vi_face_tracking
sample/cvi_tdl/sample_vi_fall
sample/cvi_tdl/sample_vi_fall_det
sample/cvi_tdl/sample_vi_fd
sample/cvi_tdl/sample_vi_fdmask
sample/cvi_tdl/sample_vi_fq
sample/cvi_tdl/sample_vi_intrusion_det
sample/cvi_tdl/sample_vi_lpdr
sample/cvi_tdl/sample_vi_md
sample/cvi_tdl/sample_vi_obj_counting
sample/cvi_tdl/sample_vi_object_tracking
sample/cvi_tdl/sample_vi_od
sample/cvi_draw_rect/sample_lib_draw_rect
sample/cvi_md/sample_lib_cvimd
sample/cvi_preprocess/sample_lib_preprocess
sample/cvi_yolo/sample_yolo
sample/cvi_yolo/sample_yolov5
sample/cvi_yolo/sample_yolov5_roi
sample/cvi_yolo/sample_yolov6
sample/cvi_yolo/sample_yolov7
sample/cvi_yolo/sample_yolov8
sample/cvi_yolo/sample_yolox
*.o